<script defer>
  document.addEventListener("DOMContentLoaded", function() {
  function showTabContent(tabId) {
            // Hide all tab contents first
            const tabContents = document.getElementsByClassName('tab-content');
            for (const content of tabContents) {
                content.style.display = 'none';
            }

            // Show the selected tab content
            const selectedTab = document.getElementById(tabId);
            if (selectedTab) {
                selectedTab.style.display = 'block';
            }
        }

        // Attach click event listeners to tab links
        const tabLinks = document.getElementsByClassName('tab-link');
        for (const link of tabLinks) {
            link.addEventListener('click', function () {
                const tabId = this.getAttribute('data-tab');
                showTabContent(tabId);
            });
        }

        // Show the initial tab content (you can choose a default tab to show on page load)
        showTabContent('tab1');
  });
</script>

{% for collection in collections %}
  {{- collection.title | link_to: collection.url }}
{% endfor %}




      <ul class="nav-tabs">
        <li class="tab-link active" data-tab="tab1">Part 1</li>
        <li class="tab-link" data-tab="tab2">Part 2</li>
        <li class="tab-link" data-tab="tab3">Part 3</li>
      </ul>

      <div id="tab1" class="tab-content active">
        {% for product in collections.LED.products %}
  {{- collection.title | link_to: collection.url }}
  {{- product.title | link_to: product.url }}
  <img src="{{ product.featured_image | img_url }} ">
{% endfor %}

      </div>
      <div id="tab2" class="tab-content">{{ part2 }}</div>
      <div id="tab3" class="tab-content">{{ part3 }}</div>
    </div>