{% comment %}
  Renders a header search modal. Should be used with 'header.liquid'

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}
{%style%}
.search__button
{
  background-color: #0AA1BB !important;
  width: 81px;
  font-size: 12px;
  height: 30px;
color:white;
padding-left:10px;
font-weight:bold;
  cursor: pointer;
  border: none;
}
  .search-container {
    display: flex;
    align-items: center;
  }
{%endstyle%}
                
<div class="search-container">
  <form action="{{ routes.search_url }}" method="get" role="search" class="search">
              <div class="field">
      <input class="search__input field__input" id="{{ input_id }}" type="search" name="q" placeholder="{{ 'general.search.search' | t }}" {%- if settings.predictive_search_enabled -%}
                    role="combobox"
                    aria-expanded="false"
                    aria-owns="predictive-search-results"
                    aria-controls="predictive-search-results"
                    aria-haspopup="listbox"
                    aria-autocomplete="list"
                    autocorrect="off"
                    autocomplete="off"
                    autocapitalize="off"
                    spellcheck="false"
                  {%- endif -%}
                >
      <label class="field__label visually-hidden" for="{{ input_id }}">{{ 'general.search.search' | t }}</label>
              </div>

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </div>

                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}
            </form>

  <!-- Replace the search icon with a search button -->
  <button class="search__button" aria-label="{{ 'general.search.search' | t }}" type="submit">
    Search
        </button>
      </div>
